/*************
*** Default ***
**************/

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: #000;
}

ol, ul {
    list-style: none;
    text-align: right;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/***********
*** Main ***
***********/
#main article {
    float: left;
    margin-top: 30px;
}

#main article p1{
    float: left;
    font-size: 25px;
    font-weight: bold;
}

#main article.two a {
    float: right;
    padding: 0 5px 0 5px;
}

#main article.three a {
    float: right;
}

#main article.two p {
    padding: 0 0 10px 0; 
}

#main article.two h3 {
    text-align: center;
    padding: 0 0 20px 0;
}

#main article.three p {
    padding: 0 0 10px 0;
}

#main article.three h3 {
    text-align: center;
    padding: 0 0 20px 0;
}

#main article.one button {
    float: right;
    width: 60px;
    height: 60px;
}
#main article.one {
    width: 100%;
    height: 60px;
    background-color: rgb(241, 226, 141);
}
#main article.two {
    width: 50%;
    height: 320px;
}

#main article.three {
    width: 50%;
    height: 320px;
}
